.card {
  padding: 33px 0 20px;
}

.card-title {
  margin: 0;
  padding: 20px 0 8px;
}

.card-subtitle {
  margin: 0;
  padding-bottom: 20px;
}

.card-description {
  margin-bottom: 0;
}

.card-image {
}

.card .icon * {
  height: 50px;
}

.card figure {
  margin: 0;
}

.card .picture {
  border: 1px solid #fff;
}
