.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column .primary-center {
  border-left: 1px solid #c2c2c244;
  border-right: 1px solid #c2c2c244;
}

.column .secondary-center {
  border-left: 1px solid #c2c2c244;
  border-right: 1px solid #c2c2c244;
  border-top: 1px solid #c2c2c244;
}

.column .secondary-left,
.column .secondary-right {
  border-top: 1px solid #c2c2c244;
}

.row-medium {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.row-medium .row-medium-item {
  padding: 0 10px;
}

.row-small {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
