.grid {
  display: flex;
  flex-direction: row;
}

.grid-item .primary-center {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.grid-large {
}
.grid-large .grid-item {
}

.grid-medium {
}
.grid-medium .grid-item {
}
