.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 -14px;
}
.nav .nav-item {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.33px;
  padding: 0 14px;
}

.nav .nav-item:hover {
  text-decoration: underline;
}

.nav .is-active {
  color: #00e0d0;
  text-decoration: none;
}
