.section {
  padding: 70px 0;
  position: relative;
}

.section-background {
  position: absolute;
  z-index: -2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}
.section-background > img {
  height: 100%;
}
.section-overlay {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  opacity: 0.85;
}

.section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section-hero {
  padding: 0;
}

.section-hero .section-foreground {
  display: flex;
  min-width: 670px;
  flex-direction: column;
}

.section-hero .section-header {
  padding: 16px 0;
}

.section-hero .section-body {
  padding: 163px 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.section-hero .section-title {
  position: relative;
  margin-bottom: 52px;
}

.section-hero .section-content {
  width: 770px;
  text-align: center;
}

.section-primary-decor::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  margin: 26px auto;
  width: 53px;
  height: 1px;
  background-color: #00e0d0;
}

* .section-secondary-decor {
  position: relative;
}

.section-secondary-decor::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  margin: 18px auto 48px;
  width: 53px;
  height: 1px;
  background-color: #413d4b;
  opacity: 0.3;
}

.section-body .section-description {
  margin-bottom: 50px;
}

.section-about {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.section-about .section-content {
  width: 540px;
  text-align: left;
}

.section-about .section-logo > img {
  display: iline-block;
  width: 235px;
  margin-right: 100px;
}

.section-video .title-icon-play {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  text-align: center;
  margin-top: 34px;
  margin-bottom: 0;
}

.section-video {
  padding: 0;
}

.section-video .section-content {
  padding: 202px 0;
}

.section-icon-play {
  margin: 0;
}

.section-icon-play .icon-play {
  width: 100px;
  margin: 0 auto;
}

.section-expertise .section-content {
  text-align: center;
}
